body {
  font-family: "Poppins";
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  text-align: left;
  padding: 20px;
}

.logoImg{
  width: 400px;
  text-align: left;
}

.bodyContainer {
  
}

.menuContainer {
  float: left;
  width: 100px;
  text-align: left;
  padding: 20px;
}

.menuItem {
  margin: 0 0 5px 0;
  font-size: 14pt;
  display: block;
}

.driverContainer {
  float: right;
  width: calc(100% - 180px);
  text-align: left;
  padding: 20px;
}

.driverSearchBar {
  width: 300px;
  font-size: 14pt;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.driverTableHeader {
  font-weight: 600;
  font-size: 14pt;
  padding: 0 20px 0 0;
}

.driverDetails {
  font-size: 14pt;
  padding: 0 5px 0 0;
}

.driverName {
  width: 200px;
}

.driverVehicleRegistration {
  width: 200px;
}

.driverTotalActivityDuration {
  width: 200px;
}

.dateBox {
  height: 70px;
  width: 70px;
  background-color: #eee;
}

.dateBoxGreen {
  background-color: greenyellow;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
